
* {box-sizing:border-box}
/* thiết lập style cho slideshow container */
 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
/* ẩn hình ảnh cho phần tử slideshow */
 .mySlides {
   display: none;
 }
/* thiết kế nút mũi tên*/
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   }
/* thiết kế nút mũi tên next nằm phía bên phải */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
/* thiết lập style  nút tròn điều khiển*/
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.active, .dot:hover {
   background-color: #717171;
 }
/* tạo hiệu ứng chuyển động fade */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 .flashcard {
  background-color: #e2dbc0;
 width: 1500px;
 height: 1500px;
 }
 textarea{
  width: 1000px;
  height: 600px;
  text-align:center ;
  background: #bdaa9d;;
  font-size: 80px;
  padding: 200px 200px ;
  color: aliceblue;
}
body{
  background-color: antiquewhite;
}
a{
  text-decoration: none;
  color: coral;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title{
text-align: center;
color: black;
background-color: aqua;
}